# Local Python venv directories
**/bin**
**/include**
**/lib**
**/lib64**
**/share**

# Pytest directories/file4s
**__pycache__**
**.pytest_cache**

# Python venv config
pyvenv.cfg 

# Temporary file
file.gz